@page
@model Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>Client Restaurants</h1>
@section Scripts{
    <script>
        $(function myfunction() {
            $.ajax("/api/restaurants/",
                { method: "get" })
                .then(function (response) {
                    console.dir(response);
                });
        });
    </script>
}

