@page
@model ListModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Restuarants List</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" asp-for="SearchTerm" class="form-control" value="" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>
@if (@TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}
@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Restaurant" model="restaurant" />
}

<a asp-page="./Edit" class="btn btn-danger mt-3">Add New</a>

